html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    cursor:'pointer';
}
a {
  color: inherit;
  text-decoration: none;
  cursor:'pointer';
}
* {
  box-sizing: border-box;
}
li{
  list-style: none;
}
#one{
  border:none !important;
}
#one video:focus{
  border:none !important;
}
@font-face {
  font-family: PlayfairDisplay;
  src: url('../fonts/PlayfairDisplay-BoldItalic.ttf');
}
@font-face {
  font-family: PoppinsReg;
  src: url('../fonts/Poppins-Regular.ttf');
}
@font-face {
  font-family: MontserratBold;
  src: url('../fonts/Montserrat-Bold.ttf');
}
@font-face {
  font-family:MontserratMedium;
  src: url('../fonts/Montserrat-Medium.ttf');
}
@font-face {
  font-family:MontserratRegular;
  src: url('../fonts/Montserrat-Regular.ttf');
}
#news .btn-primary.focus, .btn-primary:focus{
  box-shadow: 0 0 20px 0.2rem #ffffff !important ;
}
.animated:focus{
  outline:none !important;
}
video:focus{
  outline:none !important;
}
.contentModule {
  width: 100%;
  padding-right: 15px;
  padding-left: 80px;
  margin-right: auto;
  margin-left: auto;
  }
  .App{
  text-align:center;
  }
  .appLogo {
  width: 100%;
  pointer-events: none;
  }
  .logoPosition{
  text-align: center;
  }
  .headerLogo{
  height:25%; width:25%;
  }
  .navbar-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .slideDownAnimation {
  display: flex;
  margin: 0 auto;
  animation: wobble 2s 600;
  justify-content: center;
  }
  .scroll{
  font-size:15px;
  color:#7DB8C5; text-align: center;
  }
  @keyframes wobble {
  0%{
    transform: translateY(0px);
  }
  50% {
    transform: translateY(15px);
  }
  }
  .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  }
  .headerPosition{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:'Poppins';
  }
  .aboutTitle{
  font-family:"MontserratBold"; font-size: 15px; color:#28464D;
  }
  .navLinkConnect{
  padding: .5rem 1rem;
  }
  .title{
  font-size:40px;
  color:#7DB8C5;
  font-family:'PlayfairDisplay';
  }
  .desc{
  font-family:"PoppinsReg";
  font-size:15px;
  color:grey;
  }
  #map h6{
  font-family:"PoppinsReg";font-size:20px; color:#464A53;
  }
  .mapImage{
  width: 80%; height: 80%;
  }
  .description{
  font-size:15px;
  color:#252528; font-family:"MontserratRegular";
  }
  .topRight{
    width: 30%;
    top: -3%;
    position: absolute;
    z-index: 1;
    left: 60%;
  }
  .bottomLeft{
    width: 30%;
    top: 80%;
    position: absolute;
    z-index: 1;
    left: -8%;
  }
.imageSize{
  width: 40%;
  position: absolute;
  top: 70%;
  right: 5%;
  z-index: 1;
  }
  .centeredImage{
    position: relative;
  }
  .contentPosition{
  color: #1a1a1a;
  font-size: 16px;
  line-height: 44px;
  position: relative;
  padding-left: 40px;
  }
  .contentPosition i svg{
  margin-right: 15px;
  color: #84dfff;
  font-size: 20px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  }
  .btn-primary{
  background-color:transparent !important;
  color:black !important;
  border:1px solid black  !important;
  border-radius:30px !important;
  }
  .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
  color:black !important;
  background-color:transparent !important;
  border-color: black !important; 
  
  }
  .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus{
  box-shadow:none !important;
  }
  .btn-toolbar{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  }
  .btn-primary{
  background-color: #7DB8C5 !important;
  color: white !important;
  border: 1px solid #7DB8C5 !important; font-family:"MontserratMedium";
  }
  .category{
  line-height:0.3em;
  }
  .categoryTitle{
  font-size:12px;
  color:black;
  }
  .created{
  font-size:10px;
  color:grey;
  }
  .productBrief{
  font-size:15px;
  color:grey;
  }
.bottlePosition:hover{
  cursor:pointer;
  
}
.bottlePosition{
      display:flex;
      justify-content: center;
      align-items: center;
      background-image:url("../public/images/bg.png") ;
  }
  .bottle0{
    width: 10%;
    height: 10%; padding:30px;
  }
   .bottle1{
    width: 11%;
    height: 11%; padding:30px;
  }
 .bottle2{
    width: 10%;
    height: 10%; padding:30px;
  }
  .bottle3{
    width: 12%;
    height: 12%;
    padding:20px;
  }
 .popUpBottle img{
  width: 100%;
  height: 100%;
 }
  .slick-prev:before, .slick-next:before{
    color:#7DB8C5 !important;
  }
  .slick-prev, .slick-next{
  top:30px !important;
  }
  .slick-prev {
  left: 400px !important;
  }
  .slick-next {
  right: 400px !important;
  }

  .bottleDetail{
  width:90%;
  /* height:100%; */
  object-fit: contain;
  }
  #products{
    padding-top:100px;
  }
#productDetail .bottleDetail{
position:absolute;
top: -60%;
  }
  .categoryDesc{
  color:black; font-size:25px; font-weight:bold;
  }
  .subDesc{
  color:grey;
  font-size:14px;
  }
  #news .btn-primary{
    border:none !important;
    background-color: transparent !important;
    font-family: "MontserratMedium";
  } 
  #news .btn-toolbar{
    justify-content: end !important;
    align-items: center !important;
  }
  .readMore{
  font-size:15px; color:#7DB8C5; 
  }
  .category, .readMore,.subDesc {
  padding-top:20px;
  padding-bottom:20px;
  }
  .order{
  line-height: 0.5em;
  }
  .orderTitle{
  font-size:30px; font-family: "MontserratBold"; line-height:30px;
  }
  .bottleCategory{
  font-size:15px; font-family: "MontserratBold";
  }
  .orderSubTitle{
  font-size:15px; color:#7DB8C5;
  }
  #datePicker input{
  width:150% !important; height: 37px !important; border-radius:10px;border: 1px solid #ced4da;outline:none;    color: #495057;
  }
  .modal-header{
  border-bottom:none !important;
  }
  .addBtn {
  border:1px solid #7DB8C5;
  color:white;
  background-color: #7DB8C5;
  border-radius:30px; text-align: center;
  }
  .addBtn button{
    border:none;
    color:white;
    background:none;
    }
  #confirm{
  justify-content: flex-end;
  }
  .form-control{
  border-radius: 10px !important; font-size: 15px !important;
  }
  .list{
  display: flex; align-items: center; 
  }
  .list img{
  border:1px solid #7DB8C5;
  border-radius:15px; width:15%; height:15%;
  }
  .list .price{
  font-size:15px; color:#7DB8C5; padding-left:70px;
  }
  .qty button{
  border-radius:5px; border:1px solid #7DB8C5; color:white; background-color: #7DB8C5;
  }
  .inputne{
width:10%; border:1px solid #7DB8C5;border-radius:5px;
  }
  .inputne:focus{
outline:none;
  }
  .total{
  font-size:15px; font-family:"MontserratBold";
  }
  .logoFooter{
  width:20%; height:20%;
  }
  .footerNav{
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .footerItem{
  padding:10px;
  color:grey; cursor:pointer;
  }
  @media (min-width: 1200px){
  .contentModule {
      max-width: 1200px;   padding-left: 15px;
  }
  }
  @media (max-width: 600px){
    .centeredImage {
       width:100%; height:100%;
    }
    .slick-next {
      right: 350px !important;
      }
      .slick-prev {
        left: 350px !important;
    }
    #productDetail .bottleDetail{
      left: 40%;
    }
    .bottleDetail{
      width:50%;
    }
  }
  @media (max-width: 991px){
    [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled){
      display:block !important;
    }
    #productDetail .bottleDetail{
      top:0%;
    }
    .bottleCategory{
      font-size: 14px;
    }
    .contentModule {
    padding-left: 15px;
  }
  }